:root { font-family: 'Inter', sans-serif; }

@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.nav {
  display: flex;
  width: 100%;
  height: 48px;
  align-items: center;
  justify-content: flex-end;
}

.top-links {
  display: none;
}

.menu-btn {
  padding-right: 40px;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.main-bg {
  position: absolute;
  background: url("images/header-illsutration-mobile.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.main-text {
  margin-top: 2.75rem;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  text-align: center;
  color: #172b4d;
  font-size: 2em;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 34px;
  z-index: 100;
}

.green-text {
  color: #36b37e;
  font-size: 1.5em;
  margin-top: 6px;
}

.scnd-text {
  color: #42526e;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  padding: 0 27px;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 13px;
}

ul {
  list-style: none;
}

.social-icons a {
  margin: 5px 10px;
  font-size: 1.4em;
  text-decoration: none;
  color: #505f79;
}

.breaker-con {
  background-color: #36b37e;
  display: flex;
  margin: 10px 163.5px;
  height: 4px;
  margin-bottom: 70px;
  border: 1px solid #d0d9d5;
}

.down {
  width: 40px;
  height: 40px;
  left: calc(50% - 40px / 2 + 0.5px);
  bottom: 4px;
  padding: 8px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 32px;
  margin-top: 70px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.down:hover {
  scale: 1.2;
  transition:ease-in-out 0.3s;
}

.cards {
  display: grid;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4px 2px;
  gap: 24px;
  grid-template-columns: auto;
  min-width: 20em;
}

.card {
  background-color: #fff;
  width: 20em;
  display: flex;
  border: 1px solid #d0d9d5;
  border-radius: 8px;
  height: 474px;
}

.card-body {
  display: flex;
  flex-direction: column;
  background: #ebf0ee;
}

.card-img {
  width: 100%;
  height: 252px;
  display: flex;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  flex: 1.13;
}

.info {
  background-color: white;
  display: flex;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 100%;
  flex: 1;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  border-radius: 8px;
}

h3 {
  height: 57px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #3a4a42;
  width: 100%;
}

.languages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}

.language {
  padding: 8px 12px;
  height: 32px;
  background: #ebf0ee;
  border-radius: 4px;
}

.button-wrapper {
  width: 100%;
}

.view {
  color: white;
  padding: 12px;
  gap: 10px;
  width: auto;
  height: 48px;
  background: #36b37f;
  border: none;
  border-radius: 4px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  transition: ease 1s;
}

.view:hover {
  background-color: #008552;
  color: #fff;
  cursor: pointer;
  font-size: 1.2em;
}

.about {
  position: relative;
}

.about-bg {
  position: absolute;
  display: grid;
  background-image:
    url("images/about-left-frame.svg"),
    url("images/about-right-frame.svg");
  background-position:
    0 0%,
    100% 0;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.about-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 338px;
  padding: 40px 18px;
}

.cv {
  margin-top: 24px;
}

.about-text {
  margin-bottom: 20px;
}

.about-card {
  background-color: #ebf0ee;
  box-sizing: border-box;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  padding-top: 16px;
  padding-bottom: 72px;
  height: 327px;
  width: 316px;
}

.about-img img {
  display: flex;
  max-width: 100%;
}

.about-li {
  display: flex;
  background-color: white;
  margin: 4px;
  padding: 12px;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  text-align: center;
  align-items: center;
}

.about-ul {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  margin: 0 5px;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 54px;
}

.contact-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  margin-top: 58px;
  width: 327px;
  height: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.box {
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  height: 48px;
  padding: 16px;
}

input::placeholder {
  color: #6b778c;
  font-family: 'Inter', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.text-area {
  color: #42526e;
  border: 1px solid #60c095;
  height: 114px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.mail {
  color: #42526e;
  margin-top: 57px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}

.footer {
  width: 100%;
  margin-top: 26px;
}

.breaker-foot {
  background-color: black;
  display: flex;
  height: 4px;
  border: 1px solid #d0d9d5;
  border-radius: 8px;
  padding: 3px 0;
  margin: 10px 113px;
  margin-top: 29px;
}

@media (min-width: 768px) {
  .menu-btn {
    display: none;
  }

  .main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 320px;
  }

  .main-bg {
    position: absolute;
    background: url("images/desktop-bg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .top-links {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .top-link {
    color: #172b4d;
    text-decoration: none;
    margin: 0 35px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
  }

  .top-link:hover {
    color: #36b37f;
  }

  .main-text {
    padding: 0;
    margin: 0;
    min-width: 400px;
  }

  .works {
    margin-top: 100px;
  }

  .breaker-con {
    display: none;
  }

  .cards {
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .about {
    margin-top: 190px;
    background: url(images/about-desktop-bg.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .scnd-text {
    margin-top: 30px;
    max-width: 920px;
    min-width: 400px;
  }

  .contact-div {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 140px;
    margin-top: 50px;
  }

  .contact-text {
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 763px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 52px;
    margin-right: 20px;
  }

  .form {
    width: 100%;
    min-width: 300px;
  }

  .mail {
    display: none;
  }

  .footer {
    margin-top: 230px;
    border-top: solid 1px #dfe1e6;
  }

  .social-icons {
    margin-bottom: 13px;
  }

  .breaker-foot {
    display: none;
  }
}
